<% layout("/layouts/boilerplate")%>
  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 1rem;
    }

    #filters a {
      color: black;
      text-decoration: none;
    }

    .filter {
      text-align: center;
      margin-right: 1rem;
      margin-top: 1rem;
      opacity: 0.7;
    }

    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }

    .filter p {
      font-size: 0.7rem;
    }

    .tax-info {
      display: none;
    }

    .tax-toggle {
      border: 1px solid black;
      border-radius: 1rem;
      height: 2.5rem;
      padding: 1rem;
      margin-left: 5rem;
      display: flex;
      align-items: center;
    }
  </style>
  <div class="d-lg-none text-center my-2">
    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#filtersCollapse">
      <i class="fa-solid fa-sliders"></i> Filters
    </button>
  </div>
  <div class="collapse d-lg-block mb-3" id="filtersCollapse">
    <div id="filters">
      <a href="/listings/category/Trending">
        <div class="filter">
          <div><i class="fa-solid fa-fire"></i> </div>
          <p> Trending</p>
        </div>
      </a>
      <a href="/listings/category/Rooms">
        <div class="filter">
          <div><i class="fa-solid fa-bed"></i> </div>
          <p> Rooms</p>
        </div>
      </a>

      <a href="/listings/category/Iconic cities">
        <div class="filter">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p> Iconic cities</p>
        </div>
      </a>
      <a href="/listings/category/Amazing views">
        <div class="filter">
          <div><i class="fa-solid fa-mountain-sun"></i></div>
          <p> Amazing views</p>
        </div>
      </a>
      <a href="/listings/category/Castles">
        <div class="filter">
          <div><i class="fa-solid fa-chess-rook"></i></div>
          <p> Castles</p>
        </div>
      </a>
      <a href="/listings/category/Beach">
        <div class="filter">
          <div><i class="fa-solid fa-umbrella-beach"></i></div>
          <p> Beach</p>
        </div>
      </a>
      <a href="/listings/category/Countryside">
        <div class="filter">
          <div><i class="fa-solid fa-tree-city"></i></div>
          <p> Countryside</p>
        </div>
      </a>

      <a href="/listings/category/Amazing pools">
        <div class="filter">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p> Amazing pools</p>
        </div>
      </a>
      <a href="/listings/category/Farms">
        <div class="filter">
          <div><i class="fa-solid fa-tractor"></i></div>
          <p> Farms</p>
        </div>
      </a>
      <a href="/listings/category/Camping">
        <div class="filter">
          <div><i class="fa-solid fa-campground"></i></div>
          <p>Camping</p>
        </div>
      </a>
      <a href="/listings/category/Boats">
        <div class="filter">
          <div><i class="fa-solid fa-sailboat"></i></div>
          <p> Boats</p>
        </div>
      </a>
      <div class="tax-toggle mb-lg-0 ">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
          <label class="form-check-label" for="SwitchCheckDefault">Display total after Taxes</label>
        </div>
      </div>

    </div>
  </div>





  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for( let listing of allListings){ %>
      <a href="/listings/<%= listing._id %>" class="listing-links">

        <div class="card col cards listing-card">
          <img src="<%= listing.image.url%>" class="card-img-top" alt="listing_image" height="300 rem">
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b>
                <%= listing.title %>
              </b>
              <br>
              &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "n/a" %>/night <i
                  class="tax-info">&nbsp; &nbsp; +18% GST</i>

            </p>
          </div>

        </div>
      </a>
      <% } %>
  </div>

  <script>
    let taxSwitch = document.getElementById("switchCheckDefault");
    taxSwitch.addEventListener("click", () => {
      let taxInfo = document.getElementsByClassName("tax-info");
      for (info of taxInfo) {
        if (info.style.display != "inline") {
          info.style.display = "inline";
        } else {
          info.style.display = "none";
        };
      };
    });
  </script>